.container {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    min-width: 110vh;
    background-color: rgb(255, 245, 250);
    border-radius: 20px;
    border: 1px solid black;
    overflow: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.51);
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header1 {
    font-size: 3vh;
    color: blue;
    text-align: center;
}

.publish-button-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publish-rates-button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(60, 60, 192);
    color: white;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.261);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.publish-rates-button:hover {
    background-color: rgb(61, 57, 108);
}

.sign-out-button {
    background-color: red;
    position: fixed;
    top: 2%;
    left: 2%;
    color: white;
    font-weight: 900;
}

.toggle-button-container {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toggle-button {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 900;
    width: 30%;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(60, 60, 192);
    transition: background-color 0.3s; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.261);
}

.toggle-button:hover {
    background-color: rgb(61, 57, 108);
}
