.rateInputContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: .2;
}

.rateInput {
    margin: 5px;
    width: 30%;
    font-size: 15px;
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0.139);
    text-align: center;
}

.addRateButton {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 900;
    width: 12%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(60, 60, 192);
    transition: background-color 0.3s; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.261);
    cursor: pointer;
    margin: 5px;

}

.addRateButton:hover {
    background-color: rgb(61, 57, 108);
    font-weight: 900;
}