.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 40%; 
    max-height: 90%; 
    overflow-y: auto; 
}

.edit-rate-table {
    width: 100%;
}

.edit-rate-table td {
    padding: 2px;
}

.edit-rate-table input {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    font-size: 15px;
}

.modal-content button {
    color: white;
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    height: 30px;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(78, 78, 173);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.261);
}