.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    width: 20%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .loginFormContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .loginFormContainer label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .loginFormContainer input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    font-size: 15px;
  }
  
  .loginFormContainer button {
    padding: 10px 20px;
    background-color: rgb(60, 60, 192);
    color: white;
    font-size: 15px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginFormContainer button:hover {
    background-color: rgb(40, 40, 152);
  }