.published-rate-header {
    font-size: 25px;
}

.published-rates-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex: .7;
    overflow: auto;
    width: 70%;
    background-color: rgba(255, 0, 0, 0.179);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
    margin-bottom: 20px;
}

.returned-rate-table {
    width: 90%;
}

.returned-rate-table th {
    padding: 4px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd; 
    border-right: 1px solid #dddddd;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.33);
}

.returned-rate-table td {
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    max-width: 100px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.473);
}
