.rate-table-container {
    border-collapse: collapse; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 200px;
    overflow: auto; 
    flex: .7;
    width: 95%;
}

.rate-table {
    width: 98%;
}

.rate-table td {
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    max-width: 100px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1; 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17);
}


.rate-table th {
    padding: 4px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd; 
    border-right: 1px solid #dddddd;
    border-radius: 3px;
    background-color: rgb(247, 209, 209);
    font-size: 13px;
    font-weight: 700;
}


.rate-table tbody tr:nth-child(even) {
    background-color: #faebeb; 
}

.rate-table input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.modal-content button {
    margin-top: 10px;
}

.edit-button {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 900;
    width: 60%;
    height: 18px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(60, 60, 192);
    transition: background-color 0.3s; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.261);

}

.edit-button:hover {
    background-color: rgb(61, 57, 108);
    font-weight: 900;
}

.delete-button {
    background-color: red;
    border-radius: 5px;
    color: white;
    height: 15px;
    font-size: 10px;
    font-weight: 1000;
    margin-left: 5px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.261);
}